.Title {
    text-align: center;
    font-size: 90px;
    color: #39164E;
    font-family: 'Outfit', sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
}

.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
}
